@import 'libs/bootstrap/bootstrap';

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.body {
    padding: 50px;
}

a {
    color: #00B7FF
}

// Mixin
@mixin center-block($width) {
    width: $width;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Usage
.container {
    @include center-block(940px);
}
