<h1>kogle</h1>
<div class="form-group">    
    <form class="form-inline navbar-form navbar-left container" role="search" action="result">        
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" style='width:600px'>
        </div>
        <button type="submit" class="btn btn-default">검색</button>
    </form>
</div>
